html {
  background:
    repeating-radial-gradient(#000 0 0.0001%, #222 0 0.0002%) 50% 0/2500px 2500px,
    repeating-conic-gradient(#000 0 0.0001%, #222 0 0.0002%) 60% 60%/2500px 2500px;
  background-blend-mode: difference;
  animation: b .2s infinite alternate;
  /* background-color: pink; */
}

@keyframes b {
  100% {
    background-position: 50% 0, 60% 50%
  }
}
